@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow:hidden;
	user-select: none;
}

body {
	height: 100vh;
	background-image: linear-gradient(to right bottom, #ffffff, #e1d0f0, #d29dd4, #cb64ac, #c20076);
	font-family: "Montserrat";

}



::placeholder{
	color: gray !important;
}

:hover::placeholder{
	color: pink !important;
	transition: 1s;
}

:focus::placeholder{
	color: transparent !important;
}




#ForgotPass{
	text-decoration: none;
	color: pink !important;
	font-size: 13px;
	position: relative;
	left: 8rem;
}

#ForgotPass:hover {
	transition: 1s;
	color: red !important;
}




#register {
	display: block;
	justify-content: center;
	align-items: center;
	position: absolute;
	visibility: hidden;
}

.box {
	overflow:unset;
	margin: 10rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brandName h2{
	font-size: 100px;
	font-weight: bold;
	background: -webkit-linear-gradient(#F1003A,#D41171);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  	position: absolute;
  	left: 170px;
  	top:260px;
  	text-transform: uppercase;
}

.loginBox {
	position: relative;
	border: 1px solid black;
	width: 25rem;
	height: 20rem;
	display: block;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	box-shadow: 0 1px 5px 1px black;
}

.alert {
	position: relative;
	top: 1rem;
}

.registerBox{
	top: 1.5rem;
	right: 7.9rem;
	background-color: white !important;
	border: 1px solid violet;
	width: 25rem;
	height: 32rem;
	display: block;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	box-shadow: 0 1px 5px 4px pink;
}
.form-group {
	position: relative;
	top: 1rem;
}


.form-control {
	background-color: transparent !important;
	border-radius: 15px;
	color: black !important;


}



.form-control:hover{
	background-color: #292b2c !important;
	transition: 1s;
	border:1px solid pink !important;
	color: pink !important;

}

.form-control:focus{
	background-color: #292b2c !important;
	border:1px solid violet !important;
	color: pink !important;
	
}


.LogIn {
	display: block;
	position: relative;
	top: 1rem;
	left: 7rem;
	width:150px;
	border-radius: 15px;
	background-color:#292b2c !important;
	color: white !important; 
	text-transform: uppercase;
}

.LogIn:hover {
	color: pink !important;
	background-color: white !important; 
	font-size: 18px;
	border:1px solid violet;
}


.LogIn:active {
	color: pink !important;
	background-color: red !important; 
}
.signUp {
	position: relative;
	padding: 15px;
	border-radius: 25px;
	background-color:#292b2c !important;
	color: white !important; 
	text-transform: uppercase;
}


.signUp:hover {
	color: pink !important;
	background-color: white !important; 
	font-size: 20px;
	border:1px solid violet;
}


.signUp:active {
	color: pink !important;
	background-color: red !important; 
}



.Register {
	position: relative;
	background-color:#292b2c !important;
	padding: 15px;
	border-radius: 25px;
	color: white !important;
	text-transform: uppercase;
}

.Register:hover {
	color: pink !important;
	background-color: white !important; 
}

.Register:active {
	color: pink !important;
	background-color: red !important; 
}

.backbtn {
	position: relative;
	width:150px;
	left: 7rem;
	bottom: 1.2rem;
	font-size: 13px;
	text-transform: uppercase;
}


.backbtn:hover {
	color: pink !important;
	background-color: white !important; 
	transition: none;

}

.backbtn:active {
	color: white !important;
	background-color: pink !important; 
	transition: none;
}





/*
@media  only screen and (max-width: 2560px) {



	#ForgotPass{
	text-decoration: none;
	color: pink;
	font-size: 10px;
	position: relative;
	left: 9.2rem;
	}


		.brandName h2{
		font-size: 198px;
		font-weight: bolder;
		background: -webkit-linear-gradient(#F1003A,#D41171);
	  -webkit-background-clip: text;
 	 -webkit-text-fill-color: transparent;
	  	position: absolute;
 	 	left: 160px;
	 	 top:27rem;
  		text-transform: uppercase;
}	
	

	.loginBox {
		border: 1px solid black;
		padding: 20px;
		background-color: transparent;
		border-radius: 25px;
		box-shadow: 2px 2px 7px 3px;
		position: relative;
		top: 13rem;
		left: 10rem;
}		

	.LogIn {
		position: relative;
		left: 9.5rem;	
		padding: 7px 15px;
}

}

*/